.body{
    background-image: url('../assets/backgrounds/h_img.jpg');
    width: 100%;
    height:600px;
    text-align: center;
    background-size: cover;
    position:relative;
}
#logo{
    padding-top: 7%;
    size: 0.9cm;
}

.h1{
    align-content: center;
    color:white;
    margin-top: 4%;
   

}
.p1{
    align-content:bottom;
    color:white;
    font-size:15px;

}
#mouse{
    margin-top: 10.4%;
}
.Aboutus{
    text-align: center;
    margin-top: 2%;
}
.p2{
    font-size:13px;
}
.bucks{
    background-image: url('../assets/backgrounds/s_image.jpg');
    width: 100%;
    height:300px;
    background-size: cover;
    position:relative;
    margin-top: 5%;

}

h3{
    text-align: center;
    color:white;
    padding-top: 7%;
}
.p3{
    font-size:13px;
    color:white;
    text-align:center;
}
h4{
    text-align:center;
    margin-top:2%;
}


